<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="CodeWatcher.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <userSettings>
        <CodeWatcher.Properties.Settings>
            <setting name="LogFile" serializeAs="String">
                <value>C:\Users\James\Documents\Visual Studio 2017\changeLog.txt</value>
            </setting>
            <setting name="Path" serializeAs="String">
                <value>C:\Users\James\Documents\Visual Studio 2017</value>
            </setting>
            <setting name="MinDateTime" serializeAs="String">
                <value>2020-06-01</value>
            </setting>
            <setting name="MaxDateTime" serializeAs="String">
                <value>2100-01-01</value>
            </setting>
            <setting name="Ioffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Joffset" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="RowHeight" serializeAs="String">
                <value>25</value>
            </setting>
            <setting name="ToPresent" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Location" serializeAs="String">
                <value>100, 100</value>
            </setting>
            <setting name="Size" serializeAs="String">
                <value>1000, 700</value>
            </setting>
            <setting name="Accent1" serializeAs="String">
                <value>MidnightBlue</value>
            </setting>
            <setting name="Accent2" serializeAs="String">
                <value>Orange</value>
            </setting>
            <setting name="Background" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="EsTimePeriod" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="Highlight" serializeAs="String">
                <value>Lime</value>
            </setting>
            <setting name="ShowPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowTools" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="UserIdleMinutes" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="PerEditMinutes" serializeAs="String">
                <value>60</value>
            </setting>
            <setting name="ShowIdleLine" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="UseIdleEvents" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShowVerticalCursor" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CompensatedScaling" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EditSort" serializeAs="String">
                <value>NAME</value>
            </setting>
        </CodeWatcher.Properties.Settings>
    </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Shared.Base" publicKeyToken="3d67ed1f87d44c89" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.57" newVersion="18.1460.0.57" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Syncfusion.Licensing" publicKeyToken="632609b4d040f6b4" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-18.1460.0.57" newVersion="18.1460.0.57" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>